$DarkBlue: hsl(209, 23%, 22%);
$VeryDarkBlueBg: hsl(207, 26%, 17%);
$VeryDarkBlueText: hsl(200, 15%, 8%);
$DarkGray: hsl(0, 0%, 52%);
$BoxShadowLightMode: hsla(0, 0%, 40%, 0.27);
$VeryLightGrayBg: hsl(0, 0%, 98%);
