$DarkBlue: hsl(209, 23%, 22%);
$VeryDarkBlueBg: hsl(207, 26%, 17%);
$VeryDarkBlueText: hsl(200, 15%, 8%);
$DarkGray: hsl(0, 0%, 52%);
$VeryLightGrayBg: hsl(0, 0%, 98%);
$BoxShadowLightMode: 0 0 1.2rem hsla(0, 0%, 40%, 0.27);
$BoxShadowDarkMode: 0 0 1rem
  rgba(
    $color: #000000,
    $alpha: 0.27,
  );
