@use '../abstracts/variables' as v;

.CountryCard {
  width: 75%;
  margin-inline: auto;
  margin-block-end: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: v.$BoxShadowLightMode;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 3rem rgba($color: black, $alpha: 0.57);
  }

  .flag-container {
    height: 16rem;

    .flag {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .info-container {
    padding-block: 3rem;
    padding-inline: 2rem;

    h3 {
      padding-block-end: 0.9rem;
    }

    p {
      padding-block: 0.5rem;
      font-weight: 600;

      span {
        font-weight: 400;
      }
    }
  }

  // Dark Theme
  &.dark {
    background-color: v.$DarkBlue;
    box-shadow: v.$BoxShadowDarkMode;
    color: white;

    &:hover {
      box-shadow: 0 0 3rem rgba($color: black, $alpha: 0.57);
    }
  }
}
