@use '../abstracts/variables' as v;

.CountryCard {
  width: 75%;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: v.$BoxShadowLightMode;

  .flag-container {
    height: 16rem;

    .flag {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .info-container {
    padding-block: 3rem;
    padding-inline: 2rem;

    h3 {
      padding-block-end: 0.9rem;
    }

    p {
      padding-block: 0.5rem;
      font-weight: 600;

      span {
        font-weight: 400;
      }
    }
  }
}
