@use '../abstracts/variables' as v;

.Form {
  width: 92%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 2.5rem;
  color: v.$DarkGray;

  &-control {
    position: relative;
    width: 100%;
    padding-block-end: 4rem;

    &.input {
      svg {
        position: absolute;
        left: 2.5rem;
        top: 1.5rem;
        transform: scale(1.4);
      }
    }

    input[type='text'],
    select[name='region'] {
      width: 100%;
      letter-spacing: 0.5px;
      background-color: white;
      padding-block: 1.5rem;
      padding-inline-start: 6rem;
      border-radius: 0.5rem;
      border: none;
      box-shadow: 0 0 1rem v.$BoxShadowLightMode;

      &:focus {
        outline: 3px solid v.$DarkBlue;
      }
    }

    &.select {
      width: 60%;

      svg {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        color: v.$VeryDarkBlueText;
      }
    }

    select[name='region'] {
      width: 100%;
      padding-inline-start: 2rem;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  // Dark Theme
  &.dark {
    color: white;

    input[type='text'],
    select[name='region'] {
      background-color: v.$DarkBlue;
      color: inherit;
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.27);
    }

    input[type='text']:focus {
      outline: 2px solid v.$VeryLightGrayBg;
    }

    svg {
      color: inherit;
    }
  }
}
