@use '../abstracts/variables' as v;

.Form {
  width: 92%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 2.5rem;
  color: v.$DarkGray;

  &-control:first-child {
    position: relative;
    width: 100%;
    padding-block-end: 4rem;

    svg {
      position: absolute;
      left: 2.5rem;
      top: 1.5rem;
      transform: scale(1.4);
    }

    input[type='text'] {
      width: 100%;
      height: 100%;
      padding-block: 1.5rem;
      padding-inline-start: 6rem;
      border-radius: 0.5rem;
      border: none;
      letter-spacing: 0.5px;
      box-shadow: 0 0 1rem v.$BoxShadowLightMode;

      &:focus {
        border: v.$DarkBlue;
        outline: 3px solid v.$DarkBlue;
      }
    }
  }

  // Dark Theme
  &.dark {
    color: white;

    input[type='text'] {
      background-color: v.$DarkBlue;
      color: inherit;
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.27);

      &:focus {
        outline: 2px solid v.$VeryLightGrayBg;
      }
    }
  }
}
